{% extends "layout.html" %}

{% block content %}
    <h3>&lt Escape Memory Info &gt</h3>
    <p>
        이 페이지는 동물들과의 방탈출 추억을 기록하기 위해 만들어졌습니다.
    </p>
    <br>
    <h3>&lt Escape Memory History &gt</h3>
    <p>2019.08.17 최초 공개     Beta Version</p>
    <p>2019.09.27 공식 릴리즈   Version 1.0.0</p>{# 주기능.부기능.버그픽스 #}
    <br>    
    <h6>&lt 향후 추가될 기능 &gt</h6>
    <p style="color: red; font-size: 10px">회원탈퇴 기능! (탈퇴하려면 관리자에게 연락하세요!)</p>
    <p style="color: red; font-size: 10px">함께한 멤버 기능</p>
    <p style="color: red; font-size: 10px">함께한 멤버 추가하기 -> 내가 참가한 것만 보기(내가 쓴거 포함)</p>
    <p style="color: red; font-size: 10px">참가한 날짜 기록(달력기능). 기억 안 나면 패스할 수 있도록</p>
    <p style="color: red; font-size: 10px">관리자 메뉴 favicon</p>
{% endblock content %}