{% extends "layout.html" %}
    
{% block content %}    
    {% for post in posts %}
        <div class="card">
            <div class="post-userinfo">
                <img class="profile-box-mini" src="{{ url_for('static', filename='profile_images/'+post.author.profile_image) }}">
                <span class="post-author">{{ post.author.username }}</span>
                <span class="post-button-group">
                    <a class="post-edit-button" href="{{ url_for('update_post', post_id=post.id) }}">U</a>
                    <a class="post-edit-button js-post-delete-button">D</a>
                </span> 
            </div> 
            <div class="post-main">
                <p class="post-date">created on {{ post.date_posted.strftime('%Y-%m-%d') }}</p>
                <img class="post-box" src="{{ url_for('static', filename='post_images/'+post.post_image) }}">
                <div class="post-result-{{ post.result }}">
                    <p class="post-title">{{ post.title }}</p>
                    <p class="post-content">{{ post.content }}</p>
                </div>
            </div>
         
        </div>
    

    <!-- Modal -->
    <div class="modal" id="js-delete-modal-{{ post.id }}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close js-modal-close">&times;</button>
                <h4 class="modal-title">Delete Memory</h4>
            </div>
            <div class="modal-body">
                <p>정말로 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <form class="modal-form" enctype = "multipart/form-data" action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                    <input class="modal-button js-modal-button-yes" type="submit" value="Yes">
                </form>
                <button type="button" class="modal-button js-modal-button-no">No</button>
            </div>
        </div>
    </div> 
    <script>const num="{{ loop.index }}"</script>
    {% endfor %}
    
    <script src="{{ url_for('static', filename='modal.js') }}"></script>    
{% endblock content %}

